# Python repetition

In [1]:
print("hej")

hej

In [2]:
school = "Handelsakademin"
school # __repr__

'Handelsakademin'

In [3]:
type(school)

str

In [4]:
len(school)

15

In [6]:
# comma, gives a tuple
# indexing
school[0], school[-1]

('H', 'n')

In [11]:
# slicing
school[:7], school[3:7]

('Handels', 'dels')

In [14]:
# reverse list
school[::-1]

'nimedakaslednaH'

plus operator is polymorphic and is operator overloaded

In [18]:
# concatination __add__() is implemented in str class
"NBI-" + school

'NBI-Handelsakademin'

In [19]:
cool_list = ["fruit", 89, False, [1,2,3]]
cool_list

['fruit', 89, False, [1, 2, 3]]

In [20]:
# concatenation
cool_list + [True, True, False]

['fruit', 89, False, [1, 2, 3], True, True, False]

In [21]:
cool_list + list((True, True, False))

['fruit', 89, False, [1, 2, 3], True, True, False]

In [22]:
cool_list.append(list((True, True, False)))

In [23]:
cool_list

['fruit', 89, False, [1, 2, 3], [True, True, False]]

In [24]:
# x = int[10];
# for (int i = 0; i > 10; i++){
#     x[i] = 1    
# }

x = []
for i in range(10):
    x.append(i)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
# more pythonic code
# list comprehension
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
range(10)

range(0, 10)

In [27]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
[i for i in range(10) if i % 2]

[1, 3, 5, 7, 9]

In [35]:
# mutated the list
x[5] = "hopphej"
x

[0, 1, 2, 3, 4, 'hopphej', 6, 7, 8, 9]

In [36]:
my_tuple = (2, 5, 3)
my_tuple

(2, 5, 3)

In [37]:
my_tuple[1]

5

In [38]:
# tuples are immutable
my_tuple[1] = 55

TypeError: 'tuple' object does not support item assignment

sets

In [41]:
set([6,6,2,3,1])

{1, 2, 3, 6}

dict

- key value pairs

In [42]:
tortoise = {"name":"Mini", "age":21, "loves_fruit": True}
tortoise

{'name': 'Mini', 'age': 21, 'loves_fruit': True}

In [44]:
tortoise["name"], tortoise["loves_fruit"]

('Mini', True)

In [45]:
for key in tortoise:
    print(key)

name
age
loves_fruit

In [46]:
for key in tortoise:
    print(tortoise[key])

Mini
21
True

In [48]:
for key,value in tortoise.items():
    print(f"{key:<15} {value}")

name            Mini
age             21
loves_fruit     True

functions

In [50]:
def squarer(number):
    return number**2
squarer(5)

25

In [52]:
tuple(squarer(i) for i in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [56]:
# variable amount of parameters
# *args - "star args"
def my_average(*numbers):
    sum_ = 0
    for number in numbers:
        sum_ += number
    return sum_/len(numbers)
my_average(1,2,3)

2.0

In [57]:
x[5] = 5
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
my_average(*x) #my average(x[0], x[1], x[2], ...)

4.5

OOP

In [67]:
# defines a class (blueprint)
class Person:
    # dunder init 
    def __init__(self, name, age) -> None:
        self.name = name # attribute
        self.age = age

# instantiates an instance from the class Person with arguments
p1= Person("Erik Johansson", 30)
p1

## dunder repr: __repr__

In [65]:
hex(id(p1))

'0x23c39bf6950'

In [68]:
p1.name, p1.age

('Erik Johansson', 30)