## 0. Hire IT employee data

### a)

In [1]:
employeeIds = (0, 1, 2)
names = ("Alice", "Bob", "Charlie")
departments = ("HR", "IT", "HR")
salaries = (31000, 41000, 28000)

example_list = [{"employeeId" : employeeIds[i], "name": names[i], "department" : departments[i], "salary": salaries[i]} for i in range(3)]
example_list

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000},
 {'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000},
 {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

### b)

In [2]:
employee_2 = example_list[1]
employee_2

{'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

### c)

In [3]:
for employee in example_list:
    print(f"{employee['name']} works in {employee['department']} and earns {employee['salary']}")

Alice works in HR and earns 31000
Bob works in IT and earns 41000
Charlie works in HR and earns 28000

### d)

In [4]:
sum(e["salary"] for e in example_list) / len(example_list)

33333.333333333336

In [5]:
average_salary = int(sum(e["salary"] for e in example_list) / len(example_list))
average_salary

33333

### e)

In [6]:
average_salary_HR = int(sum(e["salary"] for e in example_list if e["department"] == "HR") / 2)
average_salary_HR

29500

In [7]:
for employee in example_list:
    if employee["department"] == "HR":
        print(employee.items())

dict_items([('employeeId', 0), ('name', 'Alice'), ('department', 'HR'), ('salary', 31000)])
dict_items([('employeeId', 2), ('name', 'Charlie'), ('department', 'HR'), ('salary', 28000)])

### f)

In [8]:
HR_employees = [e for e in example_list if e["department"] == "HR"]
print(HR_employees)

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

### g)

In [9]:
print(str(example_list))

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}, {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [10]:
res = list(set(val["department"] for val in example_list))
print(res)

['IT', 'HR']

### h)

In [11]:
for dic, val in zip(example_list, (26, 37, None)):
    dic.update({"age" : val})

print(example_list)

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}, {'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}, {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}]

### i)

In [12]:
def add_employee(emp_list, name, department, salary, age):
    out_list = emp_list.copy()
    new_dic = {"employeeId" : len(emp_list), "name": name, "department" : department, "salary": salary, "age" : age}
    out_list.append(new_dic)
    return out_list

In [13]:
new_list = add_employee(example_list, "David", "IT", 35000, 30)
new_list

[{'employeeId': 0,
  'name': 'Alice',
  'department': 'HR',
  'salary': 31000,
  'age': 26},
 {'employeeId': 1,
  'name': 'Bob',
  'department': 'IT',
  'salary': 41000,
  'age': 37},
 {'employeeId': 2,
  'name': 'Charlie',
  'department': 'HR',
  'salary': 28000,
  'age': None},
 {'employeeId': 3,
  'name': 'David',
  'department': 'IT',
  'salary': 35000,
  'age': 30}]

## 1

### a)

In [14]:
class Pokemon:
    def __init__(self, name, type, level) -> None:
        self.name = name
        self.type = type
        self.level = level

poke1 = Pokemon("Pikachu", "electric", 10)
poke1.name, poke1.type, poke1.level

('Pikachu', 'electric', 10)

### b)

In [15]:
class Pokemon:
    def __init__(self, name, type, level) -> None:
        self.name = name
        self.type = type
        self.level = level
    
    def __str__(self) -> str:
        return f"It's a lvl{self.level} {self.name}! It's typing is {self.type}!"
    
    def __repr__(self) -> str:
        return f"Name: {self.name}, Type: {self.type}, Level: {self.level}"
        

poke1 = Pokemon("Pikachu", "electric", 10)
print(poke1)
print(repr(poke1))

It's a lvl10 Pikachu! It's typing is electric!
Name: Pikachu, Type: electric, Level: 10

### c)

In [16]:
class WaterPokemon(Pokemon):
    def splash(self):
        return f"{self.name} used splash... but nothing happened"

In [17]:
poke2 = WaterPokemon("Squirtle", "water", 12)

poke2

Name: Squirtle, Type: water, Level: 12

In [18]:
poke2.splash()

'Squirtle used splash... but nothing happened'

### d)

In [19]:
poke3 = WaterPokemon("Squirtle", "water", 8)
poke4 = WaterPokemon("Poliwag", "water", 5)

### e)

In [20]:
pokes = (poke2, poke3, poke4)
for p in pokes:
    print((repr(p)))

Name: Squirtle, Type: water, Level: 12
Name: Squirtle, Type: water, Level: 8
Name: Poliwag, Type: water, Level: 5

### f)

In [30]:
class Pokemon:
    def __init__(self, name, type, level, health_points) -> None:
        self.name = name
        self.type = type
        self.level = level
        self.health_points = health_points
        self.fainted = False

    def __str__(self) -> str:
        if self.fainted == False:
            return f"It's a lvl{self.level} {self.name}! It's typing is {self.type} and it has {self.health_points}HP!"
        else:
            return f"It's a fainted lvl{self.level} {self.name}! It's typing is {self.type}!"
    
    def __repr__(self) -> str:
        return f"Name: {self.name}, Type: {self.type}, Level: {self.level}, HP: {self.health_points}" 
    
    def __take_damage(self, damage):
        if self.health_points > damage:
            self.health_points = self.health_points - damage
            return False
        else:
            self.health_points = 0
            self.fainted = True
            return True

    def attack(self, poke):
        attack_dmg = self.level*2
        status = poke.__take_damage(attack_dmg)
        print(f"{self.name} attacks {poke.name} for {attack_dmg} damage! Leaving {poke.name}'s HP at {poke.health_points}")
        if status == True :
            print(f"{poke.name} fainted!")


poke1 = Pokemon("Pikachu", "electric", 10, 50)
print(poke1)
print(repr(poke1))

It's a lvl10 Pikachu! It's typing is electric and it has 50HP!
Name: Pikachu, Type: electric, Level: 10, HP: 50

In [31]:
poke2 = Pokemon("Snorlax", "normal", 15, 75)
print(poke2)

It's a lvl15 Snorlax! It's typing is normal and it has 75HP!

In [33]:
poke2.attack(poke1)

Snorlax attacks Pikachu for 30 damage! Leaving Pikachu's HP at 0
Pikachu fainted!

In [34]:
print(poke1)

It's a fainted lvl10 Pikachu! It's typing is electric!