## 0. Hire IT employee data

### a)

In [23]:
employeeIds = (0, 1, 2)
names = ("Alice", "Bob", "Charlie")
departments = ("HR", "IT", "HR")
salaries = (31000, 41000, 28000)

example_list = [{"employeeId" : employeeIds[i], "name": names[i], "department" : departments[i], "salary": salaries[i]} for i in range(3)]
example_list

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000},
 {'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000},
 {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

### b)

In [24]:
employee_2 = example_list[1]
employee_2

{'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

### c)

In [25]:
for employee in example_list:
    print(f"{employee['name']} works in {employee['department']} and earns {employee['salary']}")

Alice works in HR and earns 31000
Bob works in IT and earns 41000
Charlie works in HR and earns 28000

### d)

In [26]:
sum(e["salary"] for e in example_list) / len(example_list)

33333.333333333336

In [27]:
average_salary = int(sum(e["salary"] for e in example_list) / len(example_list))
average_salary

33333

### e)

In [28]:
average_salary_HR = int(sum(e["salary"] for e in example_list if e["department"] == "HR") / 2)
average_salary_HR

29500

In [29]:
for employee in example_list:
    if employee["department"] == "HR":
        print(employee.items())

dict_items([('employeeId', 0), ('name', 'Alice'), ('department', 'HR'), ('salary', 31000)])
dict_items([('employeeId', 2), ('name', 'Charlie'), ('department', 'HR'), ('salary', 28000)])

### f)

In [30]:
HR_employees = [e for e in example_list if e["department"] == "HR"]
print(HR_employees)

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

### g)

In [31]:
print(str(example_list))

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}, {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [32]:
res = list(set(val["department"] for val in example_list))
print(res)

['HR', 'IT']

### h)

In [33]:
for dic, val in zip(example_list, (26, 37, None)):
    dic.update({"age" : val})

print(example_list)

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}, {'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}, {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}]

### i)

In [34]:
def add_employee(emp_list, name, department, salary, age):
    out_list = emp_list.copy()
    new_dic = {"employeeId" : len(emp_list), "name": name, "department" : department, "salary": salary, "age" : age}
    out_list.append(new_dic)
    return out_list

In [35]:
new_list = add_employee(example_list, "David", "IT", 35000, 30)
new_list

[{'employeeId': 0,
  'name': 'Alice',
  'department': 'HR',
  'salary': 31000,
  'age': 26},
 {'employeeId': 1,
  'name': 'Bob',
  'department': 'IT',
  'salary': 41000,
  'age': 37},
 {'employeeId': 2,
  'name': 'Charlie',
  'department': 'HR',
  'salary': 28000,
  'age': None},
 {'employeeId': 3,
  'name': 'David',
  'department': 'IT',
  'salary': 35000,
  'age': 30}]

## 1

### a)

In [2]:
class Pokemon:
    def __init__(self, name, type, level) -> None:
        self.name = name
        self.type = type
        self.level = level

poke1 = Pokemon("Pikachu", "electric", 10)
poke1.name, poke1.type, poke1.level

('Pikachu', 'electric', 10)

### b)

In [5]:
class Pokemon:
    def __init__(self, name, type, level) -> None:
        self.name = name
        self.type = type
        self.level = level
    
    def __str__(self) -> str:
        return f"It's a lvl{self.level} {self.name}! It's typing is {self.type}!"
    
    def __repr__(self) -> str:
        return f"Name: {self.name}, Type: {self.type}, Level: {self.level}"
        

poke1 = Pokemon("Pikachu", "electric", 10)
print(poke1)
print(repr(poke1))

It's a lvl10 Pikachu! It's typing is electric!
Name: Pikachu, Type: electric, Level: 10

### c)

In [7]:
class WaterPokemon(Pokemon):
    def splash(self):
        return f"{self.name} used splash... but nothing happened"

In [8]:
poke2 = WaterPokemon("Squirtle", "water", 12)

poke2

Name: Squirtle, Type: water, Level: 12

In [9]:
poke2.splash()

'Squirtle used splash... but nothing happened'