## 0. Hire IT employee data

### a)

In [1]:
employeeIds = (0, 1, 2)
names = ("Alice", "Bob", "Charlie")
departments = ("HR", "IT", "HR")
salaries = (31000, 41000, 28000)

example_list = [{"employeeId" : employeeIds[i], "name": names[i], "department" : departments[i], "salary": salaries[i]} for i in range(3)]
example_list

[{'employeeId': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000},
 {'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000},
 {'employeeId': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

### b)

In [2]:
employee_2 = example_list[1]
employee_2

{'employeeId': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

### c)

In [7]:
for employee in example_list:
    print(f"{employee['name']} works in {employee['department']} and earns {employee['salary']}")

Alice works in HR and earns 31000
Bob works in IT and earns 41000
Charlie works in HR and earns 28000

### d)

In [9]:
sum(e["salary"] for e in example_list) / len(example_list)

33333.333333333336

In [11]:
average_salary = int(sum(e["salary"] for e in example_list) / len(example_list))
average_salary

33333

### e)

In [15]:
average_salary_HR = int(sum(e["salary"] for e in example_list if e["department"] == "HR") / 2)
average_salary_HR

29500